body, html {
  height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #666;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  @media screen and (max-width: 800px) {
    font-size: 32px;
  }
}
h3 {
  font-size: 24px;
}
p {
  @media screen and (max-width: 600px) {
    text-align: left;
  }
}
.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.7;
  background-size: cover;
  
  // パララックス
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../img/image3.jpeg');
  min-height: 100%;
}
.pimg2 {
  background-image: url('../img/image2.jpeg');
  min-height: 400px;
}


.section {
  text-align: center;
  padding: 50px 80px;
  @media screen and (max-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-inner {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #3f4c5a;
  color: #fff;
}

.ptext {
  position: absolute;
  top: calc(50% - 34px);
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 28px;
  letter-spacing: 8px;
  text-transform: uppercase;

  .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
  }
}

.flex {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
}

.websites .section-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 30px;

  .website {
    a {
      display: block;
    }
    img {
      width: 100%;
      margin-bottom: 10px;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
  @media screen and (max-width: 600px) {
    .website {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

footer {
  // height: 120px;
  padding: 20px 0;
  text-align: center;
  background-color: #3f4c5a;
  color: #fff;

  
  p {
    text-align: center;
    margin-top: 20px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    small {
      font-size: 14px;
      line-height: 14px;
    }
  }

  @media screen and (max-width: 400px) {
    p {
      margin-bottom: 10px;
    }
  }
}